* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    overflow: hidden;
}

.caixa-roxa {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #d3d3d3;

}

ul {
    display: flex;
    list-style: none;
    gap: 100px;
    margin-left: 100px;
}

li {
    font-size: 12px;
    font-weight: 400;
    color: #373737;
}

.logo {
    height: 20px;
}

.caixa-azul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

.titulo {
    font-size: 30px;
}

.subtitulo {
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.descricao {
    font-size: 15px;
    margin-bottom: 25px;
}

.preco {
    font-size: 20px;
    font-weight: 300px;
    color: #626262;
    margin-bottom: 30px;
}

.botao {
    background: #0071e3;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.troca-cor {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}

.azul {
    background-color: #81a5c4;
}

.amarelo {
    background-color: #f7da47;
}

.branco {
    background-color: #c1c1c1;
}

.preto {
    background-color: #272d33;
}

.vermelho {
    background-color: #b50012;
}

.roxo {
    background-color: #ede7f1;
}

.escolha-cor {
    font-size: 16px;
    font-weight: 700;
    color: #3a3a3a;
    margin-top: 50px;
    margin-bottom: 15px;
}

.iphone {
    width: 450px;
    margin-top: 100px;
    z-index: 99;
}

.circulo {
    height: 100%;
    width: 100%;
    background: #81a5c4;
    position: absolute;
    clip-path: circle(600px at right 1000px);
}